.swiper-pagination-bullet {
    background-color: gray !important; /* Gray when inactive */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: red !important; /* Red when active */
}
